<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Answer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
  <div class="text-center">
    <h1><%= @query %></h1>
    <p><em> - You</em></p>
    <h3><%=@answer%></h3>
    <p> <em>- Coach</em></p>
    <a href="/ask">Ask a new question</a>

  </div>
</body>
</html>

