<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ask a Question</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
  <div class="text-center">
    <h1>Ask a question</h1>
    <form action="/answer">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" name="query" placeholder="what time is it?">
      <input type="submit" value="Go on!" class="btn btn-primary">
    </form>
  </div>
</body>
</html>
